<div class="jumbotron center">
	<h1>Eduardo Williams App</h1>
	<p> Bienvenido =) </p>
	<p> 	
			<%= link_to "LogIn","#", class: "btn btn-default btn-lg" %> 
			<%= link_to "Registrate","#", class: "btn btn-danger btn-lg" %> 
	</p>
</div>

